$clr-text-dark-desaturated-blue: hsl(238, 29%, 16%);
$clr-text-red: hsl(14, 88%, 65%);

$clr-bg-card: hsl(0deg, 0%, 99.5%);
$clr-bg-gd-violet: hsl(273, 75%, 66%);
$clr-bg-gd-blue: hsl(240, 73%, 65%);

$clr-text-neutral-blue-100: hsl(237, 12%, 33%);
$clr-text-neutral-blue-200: hsl(240, 6%, 50%);

$clr-neutral-grayish-blue: hsl(240, 5%, 91%);
